<tr class="hover:bg-gray-50 dark:hover:bg-gray-700/50 transition-colors" id="transaction_<%= transaction.id %>">
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 dark:text-gray-300">
    <%= transaction.transaction_date.strftime("%b %d, %Y") %>
  </td>
  <td class="px-6 py-4 text-sm text-gray-900 dark:text-gray-300">
    <%= transaction.description %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-400">
    <%= transaction.category&.humanize || "Uncategorized" %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex gap-1">
      <%= transaction_status_badge(transaction) %>
      <%= transaction_recurring_badge(transaction) %>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-right font-semibold">
    <%= formatted_transaction_amount(transaction) %>
  </td>
</tr>

