<%# Update the Bento Cards with current month/week stats %>
<%= turbo_stream.update "calendar-bento-cards-section" do %>
  <%= render partial: "calendar/bento_cards" %>
<% end %>

<%# Update the month/week navigation header %>
<%= turbo_stream.update "calendar-month-navigation" do %>
  <%= render partial: "calendar/month_nav_wrapper" %>
<% end %>

<%# Replace the calendar view (month or week) %>
<%= turbo_stream.replace "calendar-view-container" do %>
  <div id="calendar-view-container">
    <% if @view == 'week' %>
      <%= render 'calendar/week_view' %>
    <% else %>
      <%= render 'calendar/month_view' %>
    <% end %>
  </div>
<% end %>

